<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/15fc5612-0f6a-4246-9865-3d068981bd76/resourcegroups/NpTestSelenium-RG/providers/Microsoft.Web/sites/SeleniumTestAspCore20190411121139</ResourceId>
    <ResourceGroup>NpTestSelenium-RG</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://seleniumtestaspcore20190411121139.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/15fc5612-0f6a-4246-9865-3d068981bd76/resourcegroups/NpTestSelenium-RG/providers/Microsoft.ContainerRegistry/registries/registry20190411121149</ContainerResourceId>
    <ContainerResourceName>registry20190411121149</ContainerResourceName>
    <Subscription>Nabeel MSDN Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20190411121149.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4de3e942-661d-481f-8f82-173dc1f9ea9e</ProjectGuid>
  </PropertyGroup>
</Project>